html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow: hidden;
  position: relative;
}

.aside {
  height: 80vh;
  padding: 20px 40px;
  background-color: rgba(15, 15, 15, 0.7019607843);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.aside ul {
  list-style: none;
  padding: 0;
}
.aside ul:first-child li:first-child a {
  background-color: white;
  color: rgb(49, 49, 49);
}
.aside ul li {
  display: flex;
}
.aside ul a {
  text-decoration: none;
  color: white;
  padding: 20px 30px;
  margin: 6px 0;
  display: block;
  letter-spacing: 0.3px;
  width: 100px;
}
.aside ul a i {
  margin-right: 20px;
}

.container {
  width: 500vw;
  display: flex;
  flex-direction: row;
}

.homepage-wrapper {
  width: 100vw;
  background-image: url("../images/first_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: right;
}

.homepage-main-wrapper {
  background-color: rgba(15, 15, 15, 0.7019607843);
  height: 80vh;
  padding: 20px 100px;
  width: 80%;
  display: flex;
  align-items: center;
}

.homepage-main-inner {
  display: flex;
  align-items: center;
}

.left-side-image {
  display: flex;
  align-items: center;
}
.left-side-image img {
  width: 160px;
  margin-right: 30px;
}

.homepage-title {
  display: inline;
  color: white;
  font-size: 35px;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

.homepage-description {
  color: rgb(211, 211, 211);
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", sans-serif;
}

.homepage-btns {
  margin-top: 20px;
}
.homepage-btns a {
  text-decoration: none;
  display: inline-block;
  transition: 0.5s;
}
.homepage-btns a:first-child {
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
  margin-right: 20px;
}
.homepage-btns a:first-child:hover {
  color: rgb(49, 49, 49);
  background-color: white;
}
.homepage-btns a:last-child {
  color: rgb(49, 49, 49);
  background-color: white;
  border: 2px solid white;
  padding: 10px 20px;
}
.homepage-btns a:last-child:hover {
  background-color: transparent;
  color: white;
}

.about-wrapper {
  width: 100vw;
  background-image: url("../images/second_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 0 10px;
}

.about-main-wrapper {
  background-color: rgba(15, 15, 15, 0.7019607843);
  height: 80vh;
  padding: 20px 100px;
  width: 100%;
  margin-left: 300px;
  display: flex;
  align-items: center;
}

.about-main-inner {
  display: flex;
  align-items: center;
}

.entries-wrapper {
  width: 100vw;
  background-image: url("../images/third_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 0 10px;
}

.entries-main-wrapper {
  background-color: rgba(15, 15, 15, 0.7019607843);
  height: 80vh;
  padding: 20px 100px;
  width: 100%;
  margin-left: 300px;
  display: flex;
  align-items: center;
}

.entries-main-inner {
  display: flex;
  align-items: center;
}

.work-wrapper {
  width: 100vw;
  background-image: url("../images/fourth_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 0 10px;
}

.work-main-wrapper {
  background-color: rgba(15, 15, 15, 0.7019607843);
  height: 80vh;
  padding: 20px 100px;
  width: 100%;
  margin-left: 300px;
  display: flex;
  align-items: center;
}

.work-main-inner {
  display: flex;
  align-items: center;
}

.contact-wrapper {
  width: 100vw;
  background-image: url("../images/fifth_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 0 10px;
}

.contact-main-wrapper {
  background-color: rgba(15, 15, 15, 0.7019607843);
  height: 80vh;
  padding: 20px 100px;
  width: 100%;
  margin-left: 300px;
  display: flex;
  align-items: center;
}

.contact-main-inner {
  display: flex;
  align-items: center;
}/*# sourceMappingURL=style.css.map */